@charset "UTF-8";


@font-face {
    font-family: "IDroid";
    src: url("fontes/idroid.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: linear-gradient(to bottom, #44fc81, #30fa84, #44fcdd);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

p {
    text-indent: 30px;
}

article > h1, h2 {
    font-family: 'IDroid', Arial, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #44FC94, #123d42);
    padding: 2px 2px 5px 2px;
    color: white;
    text-align: center;
    justify-content: center;
    box-shadow: -1px 12px 20px rgba(0, 0, 0, 0.466);
    margin: 0px 0px 4px 0px;
}

header > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header > p {
    padding: 10px;
    font-size: 1.1em;
}

nav {
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

nav > a {
    padding-right: 20px;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

nav a:hover {
    text-decoration: none;
    background-color: #47b16b96;
    padding: 0px 55px;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    transition: all 0.5s ease;
}

article > h1 {
    font-size: 1.7em;
    color: rgb(4, 68, 4);
}

article > h2 {
    background-image: linear-gradient(to right, #44fc9446, white);
    color: rgb(4, 68, 4);
    max-width: 100%;
    font-size: 1.5em;
}

section {
    background-color: white;
    border-radius: 0px;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    margin: 0px auto;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.685);
}

.midia {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}

.video {
    background-color: #146637;
    padding: 1px;
    margin: 0px -20px;
}

.extra {
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
    margin: 10px;
    background-color: #b7ffbd;
}

.extra > h3 {
    padding: 10px;
    margin: 5px -9px 0px -9px;
    border-radius: 20px 20px 1px 1px;
    background-color: #2dac64;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

#lista1, #lista2 {
    list-style-type: "\2714\00A0";
    text-align: left;
}

footer {
    background-color: #123d42;
    color: white;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
}

/* Responsivo para telas menores */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    nav {
        text-align: center;
        padding: 10px 0;
        font-size: 0.7em;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    article > h2 {
        font-size: 1.2em;
        text-align: center;
    }
}
