@charset "UTF-8";


@font-face {
    font-family: "IDroid";
    src: url("fontes/idroid.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("fontes/Bebas_Neue/BebasNeue-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to bottom, #1a5e31, #26bb64, #268b7a);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

p {
    text-indent: 30px;
}

article > h1, h2 {
    font-family: 'IDroid', Arial, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #1ddb5d, #052e12);
    padding: 2px 2px 5px 2px;
    color: white;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    margin: 0px 0px 4px 0px;
}

header h1, header p {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1px;
}

header > p {
    padding: 10px;
    font-size: 1.1em;
    margin-top: 1px;
}

nav {
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

nav > a {
    padding-right: 20px;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

nav a:hover {
    text-decoration: none;
    background-color: #47b16b96;
    padding: 0px 55px;
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    transition: all 0.5s ease;
}

article > h1 {
    font-size: 1.7em;
    color: rgb(4, 68, 4);
}

article > h2 {
    background-image: linear-gradient(to right, #44fc9446, white);
    color: rgb(4, 68, 4);
    max-width: 100%;
    font-size: 1.5em;
}

section {
    background-color: white;
    border-radius: 25px;
    width: 90%;
    max-width: 800px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 35px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.685);
}

.midia {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 5%;
}

.video {
    background-color: #146637;
    padding: 1px;
    margin: 0px -20px;
}

.extra {
    border-radius: 20px;
    padding: 0px 10px 10px 10px;
    margin: 10px;
    background-color: #b7ffbd;
}

.extra > h3 {
    padding: 10px;
    margin: 5px -9px 0px -9px;
    border-radius: 20px 20px 1px 1px;
    background-color: #2dac64;
    color: white;
}

.extra ul {
    display: inline-block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

#lista1, #lista2 {
    list-style-type: "\2714\00A0";
    text-align: left;
}

footer {
    background-color: #123d42;
    color: white;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Responsivo para celular */
@media (max-width: 600px) {
    header {
    text-align: center;
    }
    
    header h1 {
        font-size: 2em;
        margin-bottom: 0.2em;
    }

    header p {
        font-size: 0.9em;
        margin: 1px;
        padding-top: 3px;
    }

    nav {
        text-align: initial;
        margin-left: 2em;
        padding: 10px 0;
        font-size: 0.7em;
    }

        nav > a {
        padding-right: 20px;
        text-decoration: none;
        color: white;
        transition: all 0.5s ease;
    }

    nav a:hover {
        text-decoration: none;
        background-color: #47b16b96;
        padding: 0px 25px;
        border-radius: 25px;
        text-align: center;
        font-size: 1em;
        transition: all 0.5s ease;
    }

    section {
        width: 85%;
        padding: 15px;
    }

    article > h1 {
        font-size: 1.3em;
        text-align: center;
    }

    article > h2 {
        font-size: 1em;
        text-align: initial;
    }

    section p {
        font-size: 0.8em;
        text-align: justify;
    }

    .video {
    background-color: #146637;
    padding: auto;
    margin: 0px -15px;
    }

    .container {
    font-size: 0.8em;
    display: inline-block;
    justify-content: space-between
    }

    #lista1, #lista2 {
        text-align: left;
    }

    #lista1

    footer {
        font-size: 0.7em;
    }
}